//Colours
$off-black: #20222b;
$off-white: #f7f7f7;;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;

$primary: #a5afd7;
$aqua: #4BA3C3;

//Spacing
$xs-size: 1.2rem;
$s-size: 1.4rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Fonts
$title-font: 'Anton',
sans-serif;
$second-title-font: 'Shadows Into Light',
cursive;
$body-font: 'Nunito',
sans-serif;